<p id="notice"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:error] %></p>

<p>
  <strong>Name:</strong>
  <%= @leaderboard.name %>
</p>

<div>
  <p>Entries:</p>
  <ol>
    <% @leaderboard.entries.each do |entry| %>
    <li><%= entry.username %> - <%= entry.score %></li>
  <% end -%>
  </ol>
</div>

<div>
  <%= form_tag leaderboard_scores_path(@leaderboard), method: :post do %>
    <p>
      <%= label_tag "Username" %>
      <%= text_field_tag "score[username]" %>
    </p>
    <p>
      <%= label_tag "Score" %>
      <%= text_field_tag "score[score]" %>
    </p>
    <%= submit_tag "Add score" %>
  <% end -%>
</div>

<hr>

<%= link_to 'Edit', edit_leaderboard_path(@leaderboard) %> |
<%= link_to 'Back', leaderboards_path %>
